<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3yTXA8xkR4jcbV-MNsbzNphrS6FH98Ww</string>
	<key>GCM_SENDER_ID</key>
	<string>878427818416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ChonunBTK.app</string>
	<key>PROJECT_ID</key>
	<string>cho-nun-bar-to-kitchen</string>
	<key>STORAGE_BUCKET</key>
	<string>cho-nun-bar-to-kitchen.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878427818416:ios:cf9b80a777ff0a11aa6e75</string>
</dict>
</plist>